label a {
	color:brown;
	}
nav{
background-color:pink;	
height:90px;
}
 label{
font-size:60px;	
margin-left:50px;
	
}
a{
	text-decoration:none;
}
*{
list-style:none;
margin:none;	

padding:0;
text-decoration:none;	
}
nav ul li{
font-size:40px;
display:inline-block;
margin-left:30px;	
}
nav ul{
	float:right;
}
nav ul li a{
	color:black;
	padding:8px;
}
nav ul li a:hover{
padding:8px;
border-radius:5px;
background-color:brown;
color:white;
text-decoration:none;	
	
	
}
