.A{
color:blue;
margin-left:500px;
font-size:50px;
background-color:pink;
width:400px;
border-bottom:5px solid green;
border-left:5px solid gray;
border-top:5px solid black;
border-right:5px solid yellow;
opacity:200%;
}
.B{
color:blue;
background-color:pink;
border:5px solid black;

}

body{
background-image:url(backgrounpic.jpg);	
background-repeat:no-repeat;
background-size:450PX;
background-position:450px;
background-color:pink;
border:5px solid black;	
}